<div class="ae-container-fluid ae-container-fluid--full rk-main">
    <header  class="rk-portfolio-cover  how-background">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title "></h1>
        <p class="ae-theta rk-portfolio-category "></p>
      </div>
    </header>

	<!-- TITLE + INFO -->
	<div class="ae-grid">
		<div class="ae-grid__item item-lg-8 item-lg--offset-2">
			<h4 class="ae-u-bolder au-mb-3 conatct__title">Title example</h4>
			<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
		</div>
	</div>

	<!-- SHOW INVESTMENT CRITERIA -->
	<div class="ae-grid au-xs-ta-center au-mb-4">

		<div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
			<img src="/assets/img/cool-money.jpg" alt="" class="au-mb-3">
			<h3 class="ae-u-bolder au-mt-2">Cool Money</h3>
			<p class="ae-u-bolder au-mb-3">Inversión de corto plazo Premiar frecuencia</p>

			<h4><span class="green-title">Propósito</span></h4>
			<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
				<li>Seguridad inversión</li>
				<li>Rentabilidad inmediata</li>
			</ul>
		</div>

		<div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
			<img src="/assets/img/good-money.jpg" alt="" class="au-mb-3">
			<h3 class="ae-u-bolder au-mt-2">Good Money</h3>
			<p class="ae-u-bolder au-mb-3">Inversión de largo plazo Premiar antigüedad</p>

			<h4><span class="green-title">Propósito</span></h4>
			<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
				<li>Viabilidad futuro</li>
				<li>Ahorro eficiente</li>
			</ul>
		</div>

		<div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
			<img src="/assets/img/green-money.jpg" alt="" class="au-mb-3">
			<h3 class="ae-u-bolder au-mt-2">Green Money</h3>
			<p class="ae-u-bolder au-mb-3">Inversión sostenibilidad Premiar variedad</p>

			<h4><span class="green-title">Propósito</span></h4>
			<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
				<li>Impacto social</li>
				<li>Impacto ambiental</li>
			</ul>
		</div>

		<div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
			<img src="/assets/img/power-money.jpg" alt="" class="au-mb-3">
			<h3 class="ae-u-bolder au-mt-2">Power Money</h3>
			<p class="ae-u-bolder au-mb-3">Inversión más riesgo Premiar volumen</p>
			<h4><span class="green-title">Propósito</span></h4>
			<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
				<li>Impacto nuevos negocios</li>
				<li>Espirítu emprendedor</li>
			</ul>
		</div>

	</div>
</div>

