<!-- TITLE + INFO -->
<div class="ae-grid au-pt-2">
	<div class="ae-grid__item item-lg-8 item-lg--offset-2">
		<h4 class="ae-u-bolder">Title example</h4>
		<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
	</div>
</div>

<!-- SHOW INVESTMENT CRITERIA -->
<div class="ae-grid au-xs-ta-center au-mb-4">

	<!-- ANGULAR CODE -->
<!-- 	<div *ngFor="let persona of _infoTeam.equipo" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
		<img src="{{ persona.url }}" alt="" class="au-mb-3">
		<h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
		<p class="ae-u-bolder au-mb-3">{{ persona.titulo }}</p>
		<p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p><a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
	</div>
 -->

	<div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
		<img src="/assets/img/good-money.jpg" alt="" class="au-mb-3">
		<h5 class="ae-u-bolder au-mt-2">Good Money</h5>
		<p class="ae-u-bolder au-mb-3">Looking for immediate money</p>
			
		<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
			<li>It’s all about investment in cool, safe assets</li>
			<li>Small return but faster</li>
		</ul>
		<a target="_blank" href="https://twitter.com/" class="ae-u-bolder au-underline">View more...</a>
	</div>

	<div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
		<img src="/assets/img/slow-money.png" alt="" class="au-mb-3">
		<h5 class="ae-u-bolder au-mt-2">Slow Money</h5>
		<p class="ae-u-bolder au-mb-3">Iddeally for super savers</p>
		<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
			<li>It’s all about continuity</li>
			<li>Investment on the long run</li>
			<li>Big return but slowly</li>
		</ul>
		<a target="_blank" href="https://twitter.com/" class="ae-u-bolder au-underline">View more...</a>
	</div>

	<div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
		<img src="/assets/img/green-money.jpg" alt="" class="au-mb-3">
		<h5 class="ae-u-bolder au-mt-2">Green Money</h5>
		<p class="ae-u-bolder au-mb-3">Looking for alternative investments</p>
		<ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
			<li>It’s all about purpose</li>
			<li>Investment on prospects, new, themes</li>
			<li>Medium return</li>
		</ul>
		<a target="_blank" href="https://twitter.com/" class="ae-u-bolder au-underline">View more...</a>
	</div>

</div>

