<section class="ae-container-fluid rk-main ae-container-fluid--full">
  <!-- <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio"> -->
  <section class="ae-container-fluid ae-container-fluid--full">
    <header  class="rk-portfolio-cover  home-background">
      <div class="item-inside__meta item-lg-4 item-lg--offset-9">
        <h1 class="ae-u-bolder home-title ae-grid__item ">Tu dinero crece solo</h1>
        <p class="ae-theta home-category">Con buenas acciones.</p>
      </div>
    </header>
  </section>

  <div class="ae-grid au-xs-ta-center au-mb-4 margin-top-20">
    <h2 class="ae-u-bolder ae-grid__item section-title">¿Cómo funciona?</h2>
  </div>

    <header  class="rk-how-to-cover how-background ae-container-fluid">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title "></h1>
        <p class="ae-theta rk-portfolio-category "></p>
      </div>
    </header>

  <!-- TITLE + INFO -->
<!--   <div class="ae-grid">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder au-mb-3 conatct__title">Title example</h4>
      <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
    </div>
  </div>
 -->
  <!-- SHOW INVESTMENT CRITERIA -->
  <div class="ae-grid au-xs-ta-center au-mb-4 margin-top-20">
    <h2 class="ae-u-bolder ae-grid__item section-title">Inversión a tu medida</h2>
    <div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
      <img src="/assets/img/cool-money.jpg" alt="" class="au-mb-3">
      <h3 class="ae-u-bolder au-mt-2">Cool Money</h3>
      <p class="ae-u-bolder au-mb-3">Inversión de corto plazo Premiar frecuencia</p>

      <h4><span class="green-title">Propósito</span></h4>
      <ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        <li>Seguridad inversión</li>
        <li>Rentabilidad inmediata</li>
      </ul>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
      <img src="/assets/img/good-money.jpg" alt="" class="au-mb-3">
      <h3 class="ae-u-bolder au-mt-2">Good Money</h3>
      <p class="ae-u-bolder au-mb-3">Inversión de largo plazo Premiar antigüedad</p>

      <h4><span class="green-title">Propósito</span></h4>
      <ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        <li>Viabilidad futuro</li>
        <li>Ahorro eficiente</li>
      </ul>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
      <img src="/assets/img/green-money.jpg" alt="" class="au-mb-3">
      <h3 class="ae-u-bolder au-mt-2">Green Money</h3>
      <p class="ae-u-bolder au-mb-3">Inversión sostenibilidad Premiar variedad</p>

      <h4><span class="green-title">Propósito</span></h4>
      <ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        <li>Impacto social</li>
        <li>Impacto ambiental</li>
      </ul>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
      <img src="/assets/img/power-money.jpg" alt="" class="au-mb-3">
      <h3 class="ae-u-bolder au-mt-2">Power Money</h3>
      <p class="ae-u-bolder au-mb-3">Inversión más riesgo Premiar volumen</p>
      <h4><span class="green-title">Propósito</span></h4>
      <ul class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
        <li>Impacto nuevos negocios</li>
        <li>Espirítu emprendedor</li>
      </ul>
    </div>

  </div>


  <section class="ae-container-fluid ae-container-fluid--inner margin-top-20">
    <div class="ae-grid au-xs-ta-center au-mb-4 margin-top-20 ">
      <h2 class="ae-u-bolder ae-grid__item section-title">Algunas opciones de inversión en empresas con proyectos sostenibles</h2>
    </div>
    <!-- 1 -->
    <div *ngIf="_service.cargando" align="center">
      <h3>Cargando...</h3>
      <div class="loader loader--style1" title="0">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
        <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
        <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 20 20"
            to="360 20 20"
            dur="0.5s"
            repeatCount="indefinite"/>
          </path>
        </svg>
      </div>
      <p>Pro favor espere...</p>
    </div>

<!--     <div *ngIf="!_service.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">      

      <a *ngFor="let company of _service.list" [routerLink]="['/item', company.cod]" class="animated fadeIn rk-item ae-masonry__item"><img src="{{ company.logo }}" alt="">
        <div class="item-meta">
          <h2>{{ company.name }}</h2>
          <p>{{ company.sector }}</p>
        </div>
      </a>

    </div>
 -->


    <div *ngIf="!_service.cargando" class="ae-grid"> 
       <!-- first column -->
       <div *ngFor="let company of _service.list"  class="ae-grid__item item-lg-3"> 
         <a [routerLink]="['/company', company.cod]" class="rk-item">
           <img src="{{ company.logo }}" />
           <span class="item-meta">
             <h2>{{ company.name }}</h2>
             <p>{{ company.sector }}</p>
           </span>
         </a>
       </div>
        
    </div>  


  </section>
</section>

